{% load static %}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">JOBS({{user.username}})</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.first_name == 'USR' %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">PAGINA PRINCIPAL</a></li>
                    {% endif %}

                    {% if user.first_name == 'ADM' %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">PAGINA PRINCIPAL</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard_empresa' %}">DASHBOARD</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'criar_vaga' %}">CRIAR VAGA</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">PAGINA PRINCIPAL</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>