{% load static %}
{% include 'partials/menu.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{% url 'criar_vaga' %}" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Cadastro de Vagas</h3>
                            <div class="form-group">
                                <label for="text" class="text-info">Nome da Vaga:</label><br>
                                <input type="text" name="nome_vaga" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">Descrição da vaga:</label><br>
                                <input type="textarea" name="descricao" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">Quantidade de vagas:</label><br>
                                <input type="text" name="vagas" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">Faixa Salarial:</label><br>
                                <select type="text" name="faixa_salarial" class="form-control">
                                    <option value="1000">Até 1000</option>
                                    <option value="1000 a 2000">de 1000 a 2000</option>
                                    <option value="2000 a 3000">de 2000 a 3000</option>
                                    <option value="acima de 3000">acima de 3000</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">Escolaridade:</label><br>
                                <select type="text" name="escolaridade" class="form-control">
                                    <option value="Ensino Fundamental">Ensino Fundamental</option>
                                    <option value="Ensino Medio">Ensino Medio</option>
                                    <option value="Tecnologo">Tecnologo</option>
                                    <option value="Ensino Superior">Ensino Superior</option>
                                    <option value="POS/MBA/Mestrado">POS/MBA/Mestrado</option>
                                    <option value="Doutorado">Doutorado</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="enviar">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{% url 'dashboard_empresa' %}" class="text-info">Dashboard</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
